<html>

    <head>
        <title>Groups - Home</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/groups.css">
        <script src="/scripts/groups.js"></script>
    </head>

    <body>

        <header>

            <img src="/images/pepe.jpg">

            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/groups">Groups</a></li>
                {{#if authenticated}}
                    <li>
                        <form method="POST" action="/logout">
                            <input type="submit" value="Logout">
                        </form>
                    </li>
                {{else}}
                    <li><a href="/login" >Login</a></li>    
                {{/if}}
            </ul>

        </header>

        <main>

            <div class="groups">

                <div class="group">

                    <form method="POST" action="/groups">
                        
                        <div>
                            <label><span>Name</span> <input name="name" placeholder="Name"/></label>
                            <label><span>Description</span> <textarea name="description" placeholder="Description"/></textarea></label>
                        </div>

                        <button type="submit">Create</button>

                    </form>

                </div>

                {{#each groups}}

                    <div class="group">

                        <div class="form">
                        
                            <div>
                                <label><span>Name</span> <input name="name" value="{{name}}" id="{{id}}-name"/></label>
                                <label><span>Description</span> <textarea name="description" id="{{id}}-description"/>{{description}}</textarea></label>
                            </div>

                            <button class="edit" groupid="{{id}}" groupname="{{name}}" groupdescription="{{description}}">Edit</button>

                        </div>

                        <div class="form">

                            <button class="delete" groupid="{{id}}">Delete</button>

                        </div>

                        <form method="GET" action="/groups/{{id}}/teams">

                            <button type="submit">Teams</button>

                        </form>

                    </div>

                {{/each}}

            </div>

        </main>

    </body>

</html>